.PaletaListaItem {
    font-family: "Exo";
    background-color: rgb(53, 139, 190);
    border-radius: 10px;
    box-shadow: 0 0 1em black;
    padding: 10px;
    width: 400px;
    height: auto;
    display: flex;
    justify-content: space-around;
  }
  
  .PaletaListaItem > div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .PaletaListaItem__titulo {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 100%;
  }
  
  .PaletaListaItem__descricao {
    font-size: 0.85em;
  }
  
  .PaletaListaItem__preco {
    color: white;
  }
  
  .Acoes {
    display: flex;
    justify-content: space-between;
  }
  
  .Acoes__adicionar,
  .Acoes__remover {
    border: none;
    color: black;
    border-radius: 5px;
    font-family: "Exo", sans-serif;
    padding: 5px;
    max-width: 280px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    width: 48%;
  }
  
  .Acoes__remover {
    background-color: red;
  }
  
  .Acoes__adicionar {
    background-color: white;
  }
  
  .Acoes__adicionar--preencher {
    width: 100%;
  }
  
  .PaletaListaItem__foto {
    height: 150px;
  }

  .PaletaListaItem__badge {
    background-color: white;
    border: solid 1px black;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30%;
    top: -9px;
    left: -9px;
  }